body{
	padding: 0;
	margin: 0;
	/*background:#1d283d;*/
	background:#e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
}

	html, body {
			height: 100%;
    		width: 100vw;
		}
		#map {
			box-shadow: 
    				12px 12px 8px 0 rgba(0, 0, 0, 0.25),
    				-8px -8px 6px 0 rgba(255, 255, 255, 0.3);
			width: 600px;
			height: 400px;
		}
